<form method="post">
    {% csrf_token %}

    {% for campo in formulario%}

    <div class="mb-3">
        <label for="{{ campo.name }}" class="form-label">{{ campo.label }}</label>
        {% if view %}
        {% if campo.field.widget.input_type == 'date' %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}"
            id="{{ campo.name }}" placeholder="{{ campo.label }}" value="{{ campo.value |date:'Y-m-d'| default:'' }}"
            readonly>
        {% else %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}"
            id="{{ campo.name }}" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}" readonly>
        {% endif %}
        {% elif campo.field.widget.input_type == 'date'  %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}"
            id="{{ campo.name }}" placeholder="{{ campo.label }}" value="{{ campo.value |date:'Y-m-d'| default:''}}">
        {% else %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}"
            id="{{ campo.name }}" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}">
        {% endif %}
    </div>
    <div class="col-12 help-text text-danger"> {{ campo.errors }}</div>
    {% endfor %}

    {% if view == None%}
    <input name="" id="" class="btn btn-success" type="submit" value="Salvar informações">
    {% endif %}
    <a name="" id="" class="btn btn-primary" href="{% url 'index' %}" role="button">Voltar</a>
    {% if messages %}
    {% for message in messages %}
    <br>
    <span {% if message.tags %} class=" {{ message.tags }} alert alert-success mt-4 d-inline-block " {% endif %}>
        {{message}} </span>
    {% endfor %}

    {% endif %}
</form>