{% extends "base.html"%}

{% block title %} Editar Controle{% endblock%}

{% block content %}
{% if oleo %}



<span class="alert alert-warning mb-4 d-inline-block" role="alert">
    <span> O veículo {{ veiculo.veiculo }} da placa {{ veiculo.placa }} precisa trocar o óleo</span>
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
</span>



{% endif %}
<div class="card">
    <div class="card-header">
        Editar informaçao do controle
    </div>
    <div class="card-body">
        <h4 class="card-title">Dados do controle</h4>
        {% include 'baseForm.html' %}
    </div>
    <div class="card-footer text-muted">

    </div>
</div>


{% endblock  %}