{% extends "base.html"%}

{% block title %} Excluir controle{% endblock%}

{% block content %}
<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <form method="post">
            {% csrf_token %}
            <h1>Tem certeza que gostaria de excluir?</h1><br>
            <input type="submit" value="Excluir" class="btn btn-danger">
            <a name="" id="" class="btn btn-primary" href="{% url 'index'%}" role="button">Voltar</a>

        </form>
    </div>
</div>
{% endblock %}